/* ---------------------------------------------------------Estilos Globales---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url('/img/fondo-home.jpg'); /* Imagen de fondo */
    background-size: cover; /* Que ocupe todo el área visible */
    background-position: center center; /* Centrada */
    background-attachment: fixed; /* Fondo fijo */
    background-repeat: no-repeat; /* Evitar que se repita */
    color: #333;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

/*--------------------------------------------------------- Estilos Header------------------------------------------------------------ */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 20px 5px;
    z-index: 900;
    margin-left: 20px;
}

header .logo img {
    width: 80px;
    height: auto;
}

/* Navigation Bar */
.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: transparent;
    overflow-x: hidden;
    transition: width 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar:hover {
    background-color: #000;
    width: 250px; /* Adjusted for mobile */
}

.menu img {
    width: 20px;
    height: auto;
    display: block;
    margin: 10px auto;
    transition: opacity 0.1s ease;
}

.nav-bar:hover .menu img {
    opacity: 0;
    pointer-events: none;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar ul li {
    width: 100%;
}

.nav-bar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

.nav-bar ul li a:hover {
    background-color: rgba(255, 111, 0, 0.471);
    transform: scale(1.005);
}

.nav-bar ul li a span {
    display: none;
    font-size: 1.2rem;
}

.nav-bar:hover ul li a span {
    display: inline;
}

.menu-footer {
    margin-top: auto;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}

.nav-bar:hover .menu-footer {
    display: block;
    opacity: 1;
}

.menu-footer p {
    margin-bottom: 15px;
}

.menu-footer .social-links {
    display: flex;
    justify-content: center;
}

.menu-footer .social-links a {
    display: inline-block;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.menu-footer .social-links a:hover {
    transform: scale(1.1);
}

.menu-footer .social-links img {
    width: 20px;
    height: 20px;
}

/* --------------------------------------------------Secciones grandes---------------------------------------------------------------*/
.section {
    min-height: 100vh;
    padding: 60px 20px;
}

/* Hero Section */
.hero {
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    background-color: rgba(0, 0, 0, 0.577); /* Fondo semitransparente */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Centra todo verticalmente */
    align-items: flex-start; /* Centra horizontalmente */
    text-align: center;
    color: #ffffff;
    padding: 13vh 20px; /* Espaciado lateral */
}

.hero h1{
    font-size: 3rem;
    font-weight: bold;
}

.hero p{
    font-size: 1.4rem;
}

.hero-content {
    display: flex;
    flex-direction: column; /* Elementos en columna */
    align-items: center; /* Centra horizontalmente */
    gap: 10px; /* Espaciado entre elementos */
    max-width: 800px; /* Limita el ancho máximo */
    width: 100%;
}

.cssbuttons-io-button {
    background: #e65c00;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #e65c00;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    margin-top: 48vh; /* Espaciado respecto al carrusel */
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #e65c00;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #e65c00;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


/* Carrusel de Opiniones de Clientes */
.carousel {
    margin-top: 20px; /* Espaciado superior respecto al texto */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1200px; /* Máximo ancho del carrusel */
    position: relative;
}


.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; /* Oculto por defecto */
    text-align: center;
    color: #fff;
    padding: 0; /* Elimina padding para evitar desplazamientos */
    box-sizing: border-box;
    transition: opacity 0.5s ease;
}

/* Primera tarjeta */
.carousel-item:nth-child(1) {
    animation: carouselAnimation1 12s infinite;
}

@keyframes carouselAnimation1 {
    0%, 33.33% {
        opacity: 1;
    }
    33.34%, 100% {
        opacity: 0;
    }
}

/* Segunda tarjeta */
.carousel-item:nth-child(2) {
    animation: carouselAnimation2 12s infinite;
}

@keyframes carouselAnimation2 {
    0%, 33.33% {
        opacity: 0;
    }
    33.34%, 66.66% {
        opacity: 1;
    }
    66.67%, 100% {
        opacity: 0;
    }
}

/* Tercera tarjeta */
.carousel-item:nth-child(3) {
    animation: carouselAnimation3 12s infinite;
}

@keyframes carouselAnimation3 {
    0%, 66.66% {
        opacity: 0;
    }
    66.67%, 100% {
        opacity: 1;
    }
}

.carousel-item img {
    width: 150px; /* Tamaño de la imagen */
    height: 150px;
    border-radius: 50%; /* Imagen circular */
    object-fit: cover;
    margin: 0 auto 20px; /* Centrado horizontal y margen inferior */
}

.carousel-item h3 {
    font-size: 2rem;
    margin-bottom: 5px;
    color: #fff;
}

.carousel-item p {
    margin-bottom: 5px;
    font-style: italic;
}

.carousel-item .rating span {
    font-size: 1.5rem;
    color:gold;
}

.carousel-item .review {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #ccc;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero p {
        font-size: 1.2rem;
    }
}

/* ----------------------------------------------------------Sección "about"---------------------------------------------------------- */


/* Estilos para la sección de la línea de tiempo */
.timeline {
    height: 80vh;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.54);;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
}

.timeline h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #ffffff;
}

/* Contenedor de la línea de tiempo */
.timeline-container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    z-index: 1;
    transform: translateY(-50%);
}

/* Estilos para cada elemento de la línea de tiempo */
.timeline-item {
    display: inline-block;
    position: relative;
    width: 24%; /* Ajustar según el número de puntos */
    text-align: center;
    vertical-align: top;
}

.timeline-point {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ff6f00;
    border-radius: 50%;
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

.timeline-date {
    margin-top: 40px;
    font-size: 1rem;
    color: #ffffff;
}

/* Tarjetas de información */
.timeline-info {
    display: none;
    position: absolute;
    bottom: calc(-190% - 80px); /* Posicionar abajo del punto */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 3;
}

.timeline-info h3 {
    margin-top: 0;
}

.iconos-timeline img {
    width: 60px; /* Cambia este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción original */
    margin-top: 10px; /* Espaciado opcional */
    display: block; /* Asegura que la imagen sea un bloque */
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto; /* Centrado horizontal */
}


/* Mostrar la tarjeta al hacer hover sobre el punto */
.timeline-point:hover ~ .timeline-info,
.timeline-item:hover .timeline-info {
    display: block;
}

/* Cambiar el color del punto al hacer hover */
.timeline-point:hover,
.timeline-point:focus {
    background-color: #e65c00;
}

/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {
    .timeline-container {
        display: block;
    }

    .timeline-item {
        width: 100%;
        margin-bottom: 40px;
    }

    .timeline-container::before {
        display: none;
    }

    .timeline-item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 4px;
        height: 50px;
        background-color: #ddd;
        transform: translateX(-50%);
        z-index: 1;
    }

    .timeline-point {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }

    .timeline-info {
        position: static;
        transform: none;
        margin-top: 10px;
    }

    .timeline-date {
        margin-top: 10px;
    }
}
  
  /* Mostrar la tarjeta cuando está dirigida */
  .timeline-info:target {
    display: block;
  }
  
  /* Cambiar el color del punto activo */
  .timeline-point:focus,
  .timeline-point:active {
    background-color: #e65c00;
  }
  
  /* Ajustes para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .timeline-container {
      display: block;
    }
  
    .timeline-item {
      width: 100%;
      margin-bottom: 40px;
    }
  
    .timeline-container::before {
      display: none;
    }
  
    .timeline-item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 4px;
      height: 50px;
      background-color: #ddd;
      transform: translateX(-50%);
      z-index: 1;
    }
  
    .timeline-point {
      margin-bottom: 10px;
    }
  }
  
  
  /* Mostrar la tarjeta cuando está dirigida */
  .timeline-info:target {
    display: block;
  }
  
  /* Cambiar el color del punto activo */
  .timeline-point:focus,
  .timeline-point:active {
    background-color: #e65c00;
  }
  
  /* Ajustes para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .timeline-container {
      display: block;
    }
  
    .timeline-item {
      width: 100%;
      margin-bottom: 40px;
    }
  
    .timeline-container::before {
      display: none;
    }
  }
  
/*-------------------------------------------------------------- Sección "sectores"-----------------------------------------------------*/
.sectores {
    background-color: #000;
    padding: 20px 20px;
}

.sectores-titulo {
    text-align: center;
    color: #fff;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.sectores-titulo h2 {
    font-size: 2.5rem;
}

/* Styles for the cards */
.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%; /* Ajustado para que respete las columnas del grid */
    height: 350px; /* Tamaño deseado para las tarjetas */
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
        0 2px 2px rgba(0,0,0,0.1), 
        0 4px 4px rgba(0,0,0,0.1), 
        0 8px 8px rgba(0,0,0,0.1),
        0 16px 16px rgba(0,0,0,0.1);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajustado al tamaño de la tarjeta */
    height: 100%; /* Asegura que cubra la tarjeta */
    background-size: cover;
    background-position: center center;
    transition: transform 1.05s cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;
}

.card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajustado para evitar desbordamiento */
    height: 200%; /* Ajustado para mantener el efecto visual */
    pointer-events: none;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.007) 11.7%,
        rgba(0, 0, 0, 0.028) 22.1%,
        rgba(0, 0, 0, 0.06) 31.2%,
        rgba(0, 0, 0, 0.102) 39.4%,
        rgba(0, 0, 0, 0.151) 46.6%,
        rgba(0, 0, 0, 0.204) 53.1%,
        rgba(0, 0, 0, 0.256) 58.9%,
        rgba(0, 0, 0, 0.307) 64.3%,
        rgba(0, 0, 0, 0.355) 69.3%,
        rgba(0, 0, 0, 0.399) 74.1%,
        rgba(0, 0, 0, 0.438) 78.8%,
        rgba(0, 0, 0, 0.471) 83.6%,
        rgba(0, 0, 0, 0.499) 88.7%,
        rgba(0, 0, 0, 0.523) 94.1%,
        rgba(0, 0, 0, 0.538) 100%
    );
    transform: translateY(-50%);
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:nth-child(1)::before {
    background-image: url('/img/sector1.png');
}

.card:nth-child(2)::before {
    background-image: url('/img/sector2.png');
}

.card:nth-child(3)::before {
    background-image: url('/img/sector3.3.3.jpg');
}

.card:nth-child(4)::before {
    background-image: url('/img/sector4.png');
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

.content > * + * {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    margin-top: 1.5rem;
    text-decoration: none;
}

/* Efectos de hover */
@media (hover: hover) and (min-width: 600px) {
    .card::after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition:
          transform 700ms cubic-bezier(0.19, 1, 0.22, 1),
          opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    .card:hover,
    .card:focus-within {
        align-items: center;
    }
    .card:hover::before {
        transform: translateY(-4%);
    }
    .card:hover::after {
        transform: translateY(-50%);
    }
    .card:hover .content {
        transform: translateY(0);
    }
    .card:hover .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(700ms / 8);
    }
    .card:focus-within {
        &::before,
        &::after,
        .content,
        .content > *:not(.title) {
            transition-duration: 0s;
        }
    }
}


/*-------------------------------------------------- Sección "contacto"------------------------------------------------------------ */
.contact {
    min-height: 100vh; /* Ocupa el alto completo de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.54);
    text-align: center;
    padding-top: 100px; /* Ajusta según la altura del encabezado */
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.contact label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact button {
    background-color:  #e65c00;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color:#e60800; 
}

@media (max-width: 768px) {
    .contact h2 {
        font-size: 2rem;
    }
    .contact label {
        font-size: 1rem;
    }
    .contact button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

/*Ajustes de secciones*/
.about,
.contact {
    min-height: 100vh;
    padding-top: 100px; /* Ajusta según la altura del encabezado */
    padding-bottom: 20px;
}
